.header {
  display: fixed;
  background-color: #2D3142;
  height: fit-content;
  width: auto;
  padding: 0.5rem;
  margin: 0;
}

.navbutton {
  text-decoration: none;
  color: white;
  margin: 0 2rem;
  transition: border 0.2s;
}

.navbutton:hover {
  border-bottom: 2px white solid;
}