h1 {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 95vh;
  width: fit-content;
  margin: auto;
}

.googleLoginBtn {
  width: fit-content;
}

.guestLogin:visited {
  font-family: 'Courgette', cursive;
  color: #D8D5DB;
  text-decoration: none;
}

.loginBtnDiv {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 2em;
}

.overlay {
  justify-content: center;
  color: white;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

